body {
    background-color: rgb(247,209,205);
    background: linear-gradient(135deg, rgba(247,209,205,1) 0%, rgba(209,179,196,1) 40%, rgba(209,179,196,1) 60%, rgba(179,146,172,1) 92%);
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

#navbarMain .navbar-brand {
    color: #b392ac;
    text-shadow: 1px 1px 1px #735d78;
    font-weight: 300;
}

#navbarMain .nav-link {
    color: white;
    
}

#navbarMain .nav-link:hover {
    color: #b392ac;
    border-bottom: 3px solid #735d78;
    padding-bottom: 1px;
    text-shadow: 1px 1px 1px #735d78bb;
}
#navbarMain {
    font-size: 1.5rem;
    font-weight: 300;
}

.text-center {
    font-style: italic;
    font-weight: 600;
}


@media (min-width: 1200px) {
    p {
        font-size: 1.5rem;
    }
}

p.slidertext {
    font-size: 14px;
    text-shadow:1px 1px 2px black;
}

h5 {
    text-shadow:1px 1px 2px black;
}

.footer {
    background-color: transparent;
}